@media (max-width: 1200px) {
	.wrapper {
		max-width: 970px;
	}
}

@media (max-width: 970px) {
	.wrapper {
		max-width: 750px;
	}
}

@media (max-width: 767px) {
	.wrapper {
		max-width: none;
	}

	h1 {
    font-size: 34px;
    line-height: 39px;
}
}

@media only screen and (max-width: 998px) {
	body .lock {
		overflow: hidden;
	}

.top-line-container {
	justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

	}

	.tl-link {
		line-height: 50px;
		font-size: 20px;
		padding-right: 0;
	
	}


	.container {
		display: none;
	}

	.container_mobile._active {
	display: block;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px;
	width: 100%;
	overflow: hidden
	}
	
.menu_icon {
	display: block;
	z-index: 5;
	position: relative;
	cursor: pointer;
	width: 40px;
	height: 20px;
}
.menu_icon:before,
.menu_icon:after,
.menu_icon span {	
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 10%;
	left: 0;
	transition: all .3s ease-in-out 0s;
}

.menu_icon:before,
.menu_icon:after {
	content: '';
}

.menu_icon:before {
	top: 0;

}

.menu_icon:after {
	bottom: 0;
}
.menu_icon span {
	top: 50%;
	transition: all .3s ease 0s;
	transform: scale(1) translate(0px, -50%);
}

.tl-right {
	position: fixed;
	/*top: -100%;*/
	/*left: 0;*/
	width: 100%;
	/*height: 100%;*/
	background-color: #000;
	/*padding: 100px 30px 30px 30px;*/
	transition: top .3s ease-in-out 0s;
}

.tl-right._active {
 top: 0;
}


	.menu_icon._active span{
		transform: scale(0) translate(0px, -50%);
	}

	.menu_icon._active::before{
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
		width: 45px;
	}

	.menu_icon._active::after{
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
		width: 45px;	
	}
	
		/*BLOCK - 1*/

	.block-icons {
	min-width: 295px;
	/*outline: 2px solid red;*/
	right:5px;
	bottom: 1px;
	}


	/*BLOCK-2*/
	.top_btn {
		margin-top: 10px;
	}


	.block-2-head {
	margin: 90px auto 50px;

}

.block-3-text{
    right: initial;
    top: 280px;
    padding: 40px;
 }

 .block-3-text > .description_1 {
	width: initial;
	height: initial;
} 

/*BLOCK 4*/
.block-4-mobile {
	display: block;
	width: 100%;
	height: 540px;
	background-color:#000000;
	background-image: url(../img/img-block4.jpg);
	position: relative;
	/*outline: 2px solid green;*/
}

.block-4-text,
.block-5-text  {
	padding: 40px;
}



/*BLOCK 5*/



.block-5-text > .description_1 {
	width: initial;
	height: initial;
	
}


/*
BLOCK 6*/

.clients-logo {
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between
}

.clients-logo > a {
	margin-bottom: 32px;
}

	/*FOOTER*/

	.subscribe_input {
	width: 170px;

	}

.subscribe-block{
  margin: 0 auto;
  width: 250px;
	}


	.icons{
	display: inline-block;
	color: #FFFFFF;
	font-size: 12px;
	margin-right: 16px;

}

	.footer-icons{
	justify-content: center;
  flex-wrap: wrap;
	}

	.footer-logo{
		padding: 40px;
	}
	.footer-nav-list {
		padding-left: 40px
	}

	.subscribe, .footer-icons-left {
    padding-left: 20px
  }

	    
	/*FONTS*/

	.L-size {
    font-size: 30px;
	}

	.block-4 {
		display: none;
	}

	}


