* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #fff
}

input, button {
	outline: none;
	border: none;
}

body {
	background-color: #000;

}


.menu_icon {
	display: none;
}


.top-line {
	width: 100%;
	height: 90px;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 10;
	/*outline: 2px solid red;*/
	background-color: #181818;
	display: flex;
	justify-content: space-between;
	align-content: center;
	/*align-items: center;*/
}

.top-line-container {
	width: 1200px;
	margin: 0 auto;
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;

}

.tl-left {
  height: inherit;
  z-index: 6;
}

.top_logo {
	padding-top: 20px;
}

.tl-right {
	height: inherit;
}


.tl-link {
	line-height: 80px;
	font-size: 15px;
	padding-right: 32px;
	text-decoration: none;
	transition: 0.5s ease-out 0.5s;
}

.tl-link:hover {
	font-size: 13px;
	

}
.container > a {
	color: #fff;
}
.container_mobile {
	display: none;
}

.container_mobile > ul >li {
	list-style-type: none;
}


.top_btn {
	width: 155px;
	height: 42px;
	color: #000;
	background-color: #fff;
	border-radius: 14px;
	font-size: 16px;
	margin-bottom: 30px;
	position: relative;
}

.top_btn > img {
	position: absolute;
	top: 8%;
	left: 4%;
}

.top_btn > span {
	position: absolute;
  top: 19%;
  left: 30%;
  font-size: 15px;
  color: #000;
}


.wrapper {
	max-width: 1440px;
	/*min-height: 100vh;*/
	margin: auto;
	/*outline: 2px solid red;*/
	position: relative;
}

.wrapper > .block-1 {
	/*padding: 45px 15px 0 15px;*/
}

/*BLOCK-1*/


.block-1 {
	height: 716px;
	background: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%), url('../img/beach.jpg');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	color: white;
	position: relative;
	/*outline: 2px solid yellow;*/
}

.header {
	position: absolute;
	bottom: 15%;
	left: 50%;
	height: 100px;
	transform: translate(-50%, -50%);
	/*margin-top: -50px;*/
	text-align: center;
}

.text_uppercase {
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 20px;
	color: #fff;
}

h1 {
	font-size: 54px;
	line-height: 59px;
}

.description_1 {
	width: 580px;
	height: 80px;
	line-height: 20px;
	color: #C0C0C0;
	margin-top: 19px;
}


/*BLOCK-2*/


.block-2 {
	/*outline: 2px solid yellow;*/
	/*height: 1558px;*/
	width: 100%;
	background-color: #000;
	/*display: inline-flex;
	flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;*/
  /*padding: 40px 136px 100px ;*/
  position: relative;
}


.block-2-head {
	color: #fff;
	width: 600px;
	height: 82px;
	/*outline: 2px solid red;*/
	text-align: center;
	margin: 0 auto 40px;
	padding-top: 120px;

}

.block-2-body {
	/*outline: 2px solid blueviolet;*/
	max-width: 1200px;
	height: 1338px;
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.L-size {
	font-size: 40px;
}

.M-size {
	font-size: 24px;
}

.S-size {
	font-size: 23px;
}

.XS-size {
	font-size: 13px;
}



.block-2-square {
	height: 600px;
	width: 516px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
  flex-direction: column;
  margin: 0 8px 16px 8px;
  padding: 0 30px;
  background-repeat: no-repeat;

}


/*BLOCK-3*/

.block-3 {
	width: 100%;
	height: 600px;
	background-image: url(../img/Japan.jpg);
	position: relative;
	/*outline: 2px solid green;*/
}

.block-3-text {
	position: absolute;
	right: 75px;
	top: 280px;
}

.block-icons {
	position: absolute;
	height: 16px;
	min-width: 295px;
	/*outline: 2px solid red;*/
	right: 40px;
	bottom: 40px;
}

.icons{
	display: inline-block;
	color: #FFFFFF;
	font-size: 12px;
	margin-right: 16px;

}

.icons >img {
	padding-right: 6px;
	vertical-align: middle;

}


/*BLOCK-4*/

.block-4 {
	width: 100%;
	height: 540px;
	background-color:#000000;
	position: relative;
	/*outline: 2px solid green;*/
}

.block-4-text{
	position: absolute;
	top: 173px;
	left: 4%;
}

.block-4-title {
	font-size: 28px;
	margin-top: 6px;
}

.block-4-img {
	position: absolute;
	right: 0;
}


/*BLOCK-5*/

.block-5 {
	width: 100%;
	height: 600px;
	background-color:#000000;
	background-image: url(../img/monstera.jpg);
	position: relative;
	/*outline: 2px solid green;*/
}

.block-5-text {
	position: absolute;
	top: 280px;
	right: 12%;
}

/*BLOCK-6*/

.block-6 {
	width: 100%;
	height: 500px;
	background-color:#000000;
	position: relative;
	/*outline: 2px solid green;*/
}

.clients-logo {
	height: 158px;
	/*width: 1168px;*/
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.clients-logo>img{
	width: 128px;
}

/*BLOCK-7*/

.block-7 {
	width: 100%;
	height: 600px;
	background-color:#000000;
	background-image: url(../img/mountain.jpg);
	position: relative;
	/*outline: 2px solid green;*/
}

.block-7-text {
	position: absolute;
	top: 280px;
	right: 12%;
}

/*BLOCK-8*/

.block-8 {
	width: 100%;
	height: 414px;
	background-color:#000000;
	/*position: relative;*/
	padding-top: 120px;
	display: flex;
	flex-direction: column;
   align-items: center;
	/*outline: 2px solid green;*/
}

.block-8-text {
	width: 600px;
	height: 186px;
	text-align: center;
}


/*FOOTER*/

.footer {
	width: 100%;
	height: 652px;
	background-color: #000000;
	color: #C0C0C0;
	/*outline: 2px solid green;*/

}

.footer-wrapper, .wrapper-container {
	max-width: 1168px;
	margin: 0 auto;
}

.footer-logo-nav {
	display: flex;
  justify-content: space-between;
  padding-top: 115px;
  margin-bottom: 35px;
  flex-wrap: wrap;
}

.footer-nav-list {
	max-width: 458px;
  height: 200px;
  display: inline-flex;

}

.footer-logo {
	max-width: 458px;
	height: 200px;
}

.footer-list {
	font-size: 13px;
	list-style-type: none;
	margin-right: 55px;
	line-height: 20px;
	color: #fff;
}

.rectangle {
	max-width: 1168px;
	border-bottom: 2px solid #fff;
	color: #fff;
	margin-bottom: 36px;
	/*position: absolute;
	top: 351px;
	left: 136px;*/
} 

.rectangle-2 {
	max-width: 1168px;
	border-bottom: 2px solid #fff;
	color: #fff;
	margin-bottom: 56px;
	/*position: absolute;
	top: 351px;
	left: 136px;*/
} 

.subscribe {
	height: 60px;
	margin-bottom: 36px;
	/*outline: 2px solid red;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

/*.footer-nav {
  position: absolute;
  top: 15%;
    
}
*/
.subscribe-block{
  width: 458px;
  height: 52px;
  /*outline: 2px solid green;*/
  background-color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.subscribe_input {
	width: 351px;
	height: 52px;
	border-radius: 12px;
	color: #C0C0C0;
	padding-left: 18px;
	padding-right: 18px;
	overflow: hidden;
}

.subscribe_btn {
	background-color: #000000;
	border-radius: 11px;
	width: 63px;
	height: 30px;
	cursor: pointer;
  color: #000;
  font-size: 8px;
}

.subscribe_btn:hover,
.subscribe_btn:active {
	color: #fff;
}

.footer-icons{
	height: 24px;
	color: #C0C0C0;
	display: flex;
	justify-content: space-between;
}


